@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700';'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');


header {
 display: block; 
 position: relative; 
 background-color: #F3F2E4;
}
h1 {
 font-family: 'Roboto';
 font-weight: Bold;
 line-height:0em;
 aline: left;
 }

  h2 {
 font-family: 'Libre-Baskerville';
 font-size: 1.2em;
 font-style: Italic;
 font-weight:400;
 margin-left:30%;
 margin-rigth:50%;
   }

 .intro { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.intro {
   display:block;
   text-allign: left; 
   margin-right: 60%;
   padding-top:1em;
} 
}
  
body{
  display: block;
    background-color: #F3F2E4;
  margin: 5%;
  font-size: 1em;
  line-height: 1.3em;
}
  
div#zen-summary p:last-child {
   font-family: 'Roboto';
   font-weight: Bold;
   font-size: 1em;
}

div#zen-summary p{
   display:block;
   font-family: 'Roboto';
   font-weight: Bold;
   font-size: 1.3em;
  line-height: 1.3em; 
}
  @media (min-width: 700px) { 

.intro {
   display:block;
    margin-right: 40&;
    width:60%;
    padding-top:2em;
} 
}

.explanation { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.explanation {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.participation { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.participation {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.benefits { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.benefits {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.requirements { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
/*border-bottom: 1px solid #ccc;*/
}
  @media (min-width: 700px) { 

.requirements  {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.design-selection { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.design-selection {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.design-selection h3{
  font-size: 1em;
  display: block;
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}

.design-selection a{
   font-size: 1.3em;
  font-weight: bold;
  line-height:1.5em;
}

.design-selection a:last-child{
  font-size: 1em;
  font-weight: bold;
  line-height:1.5em;
  word-break:normal;
}

.design-archives { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.design-archives {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.design-archives h3{
  font-size: 1em;
  display: block;
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}

.design-archives a{
   font-size: 1.3em;
  font-weight: bold;
  line-height:1.5em;
}

.zen-resources { 
display: block;
margin-left: auto;
margin-top: 20px;
font-family: Roboto;
border-bottom: 1px solid #ccc;
}
  @media (min-width: 700px) { 

.zen-resources {
   display:block;
   text-allign: left; 
   margin-right: 40%;     
} 
}
 
.zen-resources h3{
  font-size: 1em;
  display: block;
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}

.zen-resources a{
   font-size: 1.3em;
  font-weight: bold;
  line-height:1.5em;
}

footer a{
  display: inline-block;
  margin-top:1em;
  font-family: Roboto;
  font-size: 1.3em;
  font-weight: bold;
  line-height:1.5em;
  padding: 0.3em;
}

.zen-resources.design-archives.design-selection.requirements.intro.zen-summary {
  
  line-height:1.9em;
}

.summary p:last-child {
display: block;
padding-bottom:1em;
border-bottom: 1px solid #000;
}

.summary h3{
display: block;
padding-bottom:1em;
border-bottom: 1px solid #000;
}

/* @media (min-width: 700px) { 

.sidebar {
   display:block;
   float: right;
  margin-right: 10%;
  margin-left:55%;
  margin-bottom:80%;  
  
} 

.zen-resources.design-archives.design-selection.requirements.intro.zen-summary {
  
 display: container; 
 margin-right: 60%;
 float: left;
}


}

*/

 @media (min-width: 700px) { 

 /* sidebar styling */
  .design-selection, .zen-resources.desing-archives {
    position: absolute;
   /* top: 17em;*/
    top: 280px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
  }
  .sidebar li {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0 29.4% 0 14.7%; /* 0 10% 0 5% of total width */
  } 
  
}

 @media (min-width: 700px) { 

  .design-selection {
   display:block;
    
} 

.design-selection h3{
  border-top: 1px solid #000;
  padding-top:3em;
  font-size: 1em;
  font-weight:400;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;

}
}

  @media (min-width: 700px) { 
  
body{
    margin-left:4em;
    line-height:1.4em;
  }

  .intro h3{
    
  margin-top:2em;
    
  }
  
  
}

